body {
  background-color: #dfeedd;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #141a13;
}
a {
  color: #141a13;
}
a:hover {
  color: #527552;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;

  border-color: #243621;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(137, 106, 103, 0.3);
}

.root {
  background-color: 75, 100, 74;
}
